body{
	font-family: 'Open Sans', sans-serif;
}

.navbar-brand{
	padding-top: 0px !important;
}

.navbar-title{
	font-weight: bold;
}

.firstdiv{
	padding-top: 50px;
}

h2 {
    color: #64c37d;
    font-weight: bold;
}

h3 {
    color: #5a8bb0;
    font-weight: bold;
}

.spotlight-strong {
    color: dimgray;
    font-weight: bold;
}

.spotlight {
    color: #64c37d;
    font-weight: bold;
}

a {
    color: #5a8bb0;
    text-decoration: underline;
}

.label a{ text-decoration: none; color: white; font-size: small}

.img-activity{
    border:solid; 
}

.img-clickable{
    cursor: pointer;
}

