:root {
    --primary: #00a69d;
    --secondary: #5a8bb0;
}

body {
    font-family: "georgia", 'Open Sans', sans-serif;
}

#nav-container {
    background-color: #f8f9fa;
}

#nav-main {
    padding-left: 0;
}

#nav-main a {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

section {
    font-size: 1.3rem;
}

section div {
    margin-bottom: 0.7rem;
}

.navbar-brand {
    padding-top: 5px !important;
}

.navbar-name {
    display: flex;
    flex-direction: column;
}

.navbar-name .name {
    font-size: 1.5rem;
    color: var(--primary);
    font-weight: bold;
}

.navbar-name .author {
    font-style: italic;
    font-size: 0.9rem;
}

.firstdiv {
    padding-top: 50px;
}

.navbar-text {
    color: #00a69d !important;
    font-weight: bold;
}

.blogby{
    font-style: italic;
}
h1 {
    color: #29363f;
    font-weight: bold;
}

h2, .first-title {
    color: var(--primary);
    font-weight: bold;
    padding: 15px 0 0 0;
    margin: 0;
}

h3, .second-title {
    color: var(--secondary);
    font-weight: bold;
    font-size: 1.5rem;
}

h4, .text {
    line-height: 1.3;
}

.post-photo {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.spotlight-strong {
    color: dimgray;
    font-weight: bold;
}

.spotlight {
    color: #64c37d;
    font-weight: bold;
}

a {
    color: #5a8bb0;
    text-decoration: underline;
}

.label a {
    text-decoration: none;
    color: white;
    font-size: small
}

.img-activity {
    border: solid;
}

.img-clickable {
    cursor: pointer;
}

.nomination {
    display: inline-block;
    background-color: #cb9832;
    color: #fff;
    font-family: Titillium Web;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 8px;
    position: relative;
    border-radius: 2px;
}

.author-bio {
    display: flex;
}

.author-image>img {
    max-width: 65px;
    border-radius: 50%;
    margin-right: 15px;
}

@media screen and (min-width:1280px) {
    .layout-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .layout350 {
        width: 350px;
    }
    .layout525 {
        width: 525px;
    }
}