
body{
	color: #6d6e70;
	font-family: 'Open Sans', sans-serif;
}

.dn-title{
	font-weight: bold;
	padding: 5px;
}

.dn-green{
	color: #64c37d;
}

.dn-purple{
	color: #671b27;
}

.btn{
	color: white;
	background-color: dimgray;
}

.dn-btn-current{
	color: white;
	background-color: #5a8bb0;
}

.step{
	border: groove;
	margin-top:10px;
}

.instructions{
	padding:10px;
}

p{
	font-size: x-large;
}

.navigation-area{
	margin: 20px;
}

footer p{
	font-size: 12px;
	background-color: #e7e7e7;
	padding:20px;
}

#doc-history {
	text-align: right;
}
